.borderbox {

	border-right-width: 1px;

	border-bottom-width: 1px;

	border-left-width: 1px;

	border-right-style: solid;

	border-bottom-style: solid;

	border-left-style: solid;

	border-right-color: #FFF;

	border-bottom-color: #FFF;

	border-left-color: #FFF;

}

.border1 {

	border-right-width: 1px;

	border-bottom-width: 1px;

	border-left-width: 1px;

	border-right-style: solid;

	border-bottom-style: solid;

	border-left-style: solid;

	border-right-color: #e2e1e1;

	border-bottom-color: #e2e1e1;

	border-left-color: #e2e1e1;

}

.border2 {

	border: 1px solid #CCC;

}

.border_bottom {

	border-bottom-width: 1px;

	border-bottom-style: dotted;

	border-bottom-color: #CCC;

}

.fonts8 {

	font-family: Arial;

	font-size: 8pt;

	color: #666;

	text-decoration: none;

}

.fonts8 a:link {

	font-family: Arial;

	font-size: 8pt;

	color: #666;

	text-decoration: none;

}

.fonts8 a:visited {

	font-family: Arial;

	font-size: 8pt;

	color: #666;

	text-decoration: none;

}

.fonts8 a:hover {

	font-family: Arial;

	font-size: 8pt;

	color:  #000000;

	text-decoration: none;

}

.fonts8 a:active {

	font-family: Arial;

	font-size: 8pt;

	color: #666;

	text-decoration: none;

}



.fonts9 {

	font-family: Arial;

	font-size: 9pt;

	color: #666;

	text-decoration: none;

}

.fonts9 a:link {

	font-family: Arial;

	font-size: 9pt;

	color: #666;

	text-decoration: none;

}

.fonts9 a:visited {

	font-family: Arial;

	font-size: 9pt;

	color: #666;

	text-decoration: none;

}

.fonts9 a:hover {

	font-family: Arial;

	font-size: 9pt;

	color:  #000000;

	text-decoration: none;

}



.fonts9 a:active {

	font-family: Arial;

	font-size: 9pt;

	color: #666;

	text-decoration: none;

}



.fonts10 {

	font-family: Arial;

	font-size: 10pt;

	color: #666;

	text-decoration: none;

}

.fonts10 a:link {

	font-family: Arial;

	font-size: 10pt;

	color: #666;

	text-decoration: none;

}

.fonts10 a:visited {

	font-family: Arial;

	font-size: 10pt;

	color: #666;

	text-decoration: none;

}

.fonts10 a:hover {

	font-family: Arial;

	font-size: 10pt;

	color:  #000000;

	text-decoration: none;

}



.fonts10 a:active {

	font-family: Arial;

	font-size: 10pt;

	color: #666;

	text-decoration: none;

}



.title_9 {

	font-family: Arial;

	font-size: 9pt;

	color: #666;

	text-decoration: none;

}

.title_10 {

	font-family: Arial;

	font-size: 10pt;

	color: #666;

	text-decoration: none;

}



.title_9 {

	font-family: Arial;

	font-size: 9pt;

	color: #000;

	text-decoration: none;

}



.title_10 {

	font-family: Arial;

	font-size: 10pt;

	color: #000;

	text-decoration: none;

}



.title_11 {

	font-family: Arial;

	font-size: 11pt;

	color: #000;

	text-decoration: none;

}





.title_12 {

	font-family: Arial;

	font-size: 12pt;

	color: #000;

	text-decoration: none;

}



.title {

	font-family: Arial;

	font-size: 14pt;

	color: #333333;

	text-decoration: none;
	
	padding:0px;
	
	margin:0px;

}

.title a:link {

	font-family: Arial;

	font-size: 14pt;

	color: #333333;

	text-decoration: none;
	
	padding:0px;
	
	margin:0px;

}

.title a:visited {

	font-family: Arial;

	font-size: 14pt;

	color: #333333;

	text-decoration: none;
	
	padding:0px;
	
	margin:0px;

}

.title a:hover {

	font-family: Arial;

	font-size: 14pt;

	color:  #000000;

	text-decoration: none;
	
	padding:0px;
	
	margin:0px;

}



.title a:active {

	font-family: Arial;

	font-size: 14pt;

	color: #333333;

	text-decoration: none;
	
	padding:0px;
	
	margin:0px;

}



.title_red {

	font-family: Arial;

	font-size: 14pt;

	color: #F00;

	text-decoration: none;
	
	padding:0px;
	
	margin:0px;

}

.title_red a:link {

	font-family: Arial;

	font-size: 14pt;

	color: #F00;

	text-decoration: none;
	
	padding:0px;
	
	margin:0px;

}

.title_red a:visited {

	font-family: Arial;

	font-size: 14pt;

	color: #F00;

	text-decoration: none;
	
	padding:0px;
	
	margin:0px;

}

.title_red a:hover {

	font-family: Arial;

	font-size: 14pt;

	color:  #000000;

	text-decoration: none;
	
	padding:0px;
	
	margin:0px;

}



.title_red a:active {

	font-family: Arial;

	font-size: 14pt;

	color: #F00;

	text-decoration: none;
	
	padding:0px;
	
	margin:0px;

}





.title_w_9 {

	font-family: Arial;

	font-size: 9pt;

	color: #ffffff;

	text-decoration: none;

}



.title_w_10 {

	font-family: Arial;

	font-size: 10pt;

	color: #ffffff;

	text-decoration: none;

}



.title_w_12 {

	font-family: Arial;

	font-size: 12pt;

	color: #ffffff;

	text-decoration: none;

}



.title_w {

	font-family: Arial;

	font-size: 14pt;

	color: #ffffff;

	text-decoration: none;

}

.title_w a:link {

	font-family: Arial;

	font-size: 14pt;

	color: #ffffff;

	text-decoration: none;

}

.title_w a:visited {

	font-family: Arial;

	font-size: 14pt;

	color: #ffffff;

	text-decoration: none;

}

.title_w a:hover {

	font-family: Arial;

	font-size: 14pt;

	color:  #000000;

	text-decoration: none;

}



.title_w a:active {

	font-family: Arial;

	font-size: 14pt;

	color: #ffffff;

	text-decoration: none;

}

.12:hover td {background-color: #EBEBEB;}



td.menuon {

	background-image:url(../images/bg2.jpg);

	background-repeat:repeat-x;

	

	background-repeat:repeat-x;

	border: 1px dashed #999;

}

td.menuoff { 

	

	background-image:url(../images/bg2.jpg);

	background-repeat:repeat-x;

	

	background-image:url(../images/bg2.jpg);

	}

	

.module_multi tr.sectiontableentry2 .featuredIndent { margin-bottom:0px;}

.module_multi .featuredIndent { background:none; border:none;

	border-top:1px solid #eee;

	text-align:left;

	overflow:hidden;

	position:relative;

	min-height:73px;

	padding:18px 0px 0px 0px;

	margin:0 0 0px 0;

}



.fonts12red {

	font-family: Arial;

	font-size: 10pt;

	color: #FA0001;

	text-decoration: none;

}

.fonts12red a:link {

	font-family: Arial;

	font-size: 10pt;

	color :#FA0001;

	text-decoration: none;

}

.fonts12red a:visited {

	font-family: Arial;

	font-size: 10pt;

	color: #FA0001;

	text-decoration: none;

}

.fonts12red a:hover {

	font-family: Arial;

	font-size: 10pt;

	color: #FA0001;

	text-decoration: none;

}



.fonts12red a:active {

	font-family: Arial;

	font-size: 10pt;

	color: #FA0001;

	text-decoration: none;

}





.err_msg_9 {

	font-family: Verdana, Geneva, sans-serif;

	font-size: 9pt;

	color: #F00;

	text-decoration: none;

}

.err_msg_10 {

	font-family:Verdana, Geneva, sans-serif; 

	font-size: 10pt;

	color: #F00;

	text-decoration: none;

}

.err_msg_11 {

	font-family: Verdana, Geneva, sans-serif;

	font-size: 11pt;

	color: #F00;

	text-decoration: none;

}

.err_msg_12 {

	font-family: Verdana, Geneva, sans-serif ;

	font-size: 12pt;

	color: #F00;

	text-decoration: none;

}



.button

{

background-color:#DE1111;

border:0px;

color:#FFFFFF;

font-weight:600;

padding:5px;

font-family:Arial, Helvetica, sans-serif;

font-size:10.1pt;

cursor:pointer;

}

